<div data-aos="fade-down-right" data-aos-easing="linear" data-aos-duration="1000" data-aos-delay="450" class="containerFooter">
    <div class="imprint">
        <a routerLink="/imprint">Imprint</a>
    </div>
    
    <div data-aos="fade-down-left" data-aos-easing="linear" data-aos-duration="1000" data-aos-delay="450" class="img">
        <a href="https://www.linkedin.com/in/leon-dittrich-25b93a237/"><img src="assets/img/linkedin-box-fill.png"></a>
        <a href="https://github.com/LeonDittrich"><img src="assets/img/github-fill.png"></a>
        <a href="https://www.xing.com/profile/Leon_Dittrich6/cv"><img src="assets/img/xing-fill.png"></a>
    </div>
</div>