.containerFooter {
    background-color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 83px;
    padding-right: 67px;
    margin-top: 106px;


    .imprint {
        display: flex;
        flex-direction: column;
    }

    a {
        text-decoration: none;
        color: #8491A0;
    }
    .img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 299px;
        height: 45px;


        img {
            width: 34px;
            height: 34px;


            &:hover {
                cursor: pointer;
            }
        }
    }
}



/* -----------------Optimierung für Mobile Endgeräte----------------- */


@media (max-width: 700px) {
    .containerFooter {
        flex-direction: column-reverse;
        justify-content: center;

        
        .img {
            width: 260px;
            height: 39px;
            margin-bottom: 23px;
        }
    }
}


