<div id="aboutMe" class="containerAbout">
    <div class="aboutShort">
        <div data-aos="fade-up-right" data-aos-offset="300" data-aos-duration="800" class="aboutImg">
            <img src="assets/img/DSC_0043.jpg">
        </div>

        <div data-aos="fade-up-left" data-aos-offset="300" data-aos-duration="800" class="aboutText">
            <p class="headline">
                About Me
            </p>
            <p>
                "I’m an freestyle FPV Drone Pilot and front end developer who loves to code and solve problems"
            </p>
        </div>
    </div>

    <div data-aos="fade-down" data-aos-duration="600" class="border"></div>
    
    <div class="aboutStoryContainer">
        <div class="aboutStory">
            <div class="storyDiv" data-aos="fade-up" data-aos-duration="1000">
                <div class="greenCircle">
                    <img src="assets/img/walk-line.png">
                </div>
    
                    <p class="secondHeadline">
                        MY JOURNEY BEGAN
    
                        
                    </p><br>
        
                    <p class="story">
                        At school, I had my first contact with programming, we built a small website with HTML and CSS and I had a lot of fun... 
                    </p>
            </div>
    
            <div class="storyDiv" data-aos="fade-up" data-aos-duration="1500">
                <div class="greenCircle">
                    <img src="assets/img/heart-line.png">
                </div>
    
                    <p class="secondHeadline">
                        FIND MY PASSION
    
                        
                    </p><br>
        
                    <p class="story">
                        Later I started coding again and there I discovered my passion, I love to build something just with code. But I want to do it professionally...
                    </p>
            </div>
    
            <div class="storyDiv" data-aos="fade-up" data-aos-duration="2000">
                <div class="greenCircle">
                    <img src="assets/img/search-line.png">
                </div>
    
                    <p class="secondHeadline">
                        FIND THE SOLUTION
    
                        
                    </p><br>
        
                    <p class="story">
                        I started looking for professional training and found what I was looking for. There I was able to acquire a lot of knowledge in a short time.
                    </p>
            </div>
    
            <div class="storyDiv" data-aos="fade-up" data-aos-duration="2500">
                <div class="greenCircle">
                    <img src="assets/img/flight-takeoff-line.png">
                </div>
    
                    <p class="secondHeadline">
                        READY FOR THE JOB
    
                        
                    </p><br>
        
                    <p class="story">
                        Through project based learning, I gained a lot of experience in web/frontend development and I want to get a new challenge.
                    </p>
            </div>
    
        </div>
    </div>
   
</div>