<div id="aboutMe" class="containerAbout">
    <div class="aboutShort">
        <div data-aos="fade-up-right" data-aos-offset="300" data-aos-duration="800" class="aboutImg">
            <img src="assets/img/DSC_0043.jpg">
        </div>

        <div data-aos="fade-up-left" data-aos-offset="300" data-aos-duration="800" class="aboutText">
            <h2>
                About me.
            </h2>
            <p>
                "I’m an freestyle FPV Drone Pilot and front end developer who loves to code and solve problems"
            </p>
        </div>
    </div>

    <div data-aos="fade-down" data-aos-duration="800" class="border"></div>
    
    <div class="aboutStoryContainer">
        <div class="aboutStory">
            <div class="storyDiv" data-aos="fade-up" data-aos-duration="1000">
                <div class="greenCircle">
                    <img src="assets/img/walk-line.png">
                </div>
    
                    <p>
                        MY JOURNEY BEGAN
    
                        
                    </p><br>
        
                    <p class="story">
                        In the school I get the first contact with coding, and it was fun, but at this time I don't know that Programmer is an Job...
                    </p>
            </div>
    
            <div class="storyDiv" data-aos="fade-up" data-aos-duration="2000">
                <div class="greenCircle">
                    <img src="assets/img/heart-line.png">
                </div>
    
                    <p>
                        FIND MY PASSION
    
                        
                    </p><br>
        
                    <p class="story">
                        Later I start to Code again and I realized that I love to Code and that is fun for me, but my level of coding wasn't high enough for a profession
                    </p>
            </div>
    
            <div class="storyDiv" data-aos="fade-up" data-aos-duration="2500">
                <div class="greenCircle">
                    <img src="assets/img/search-line.png">
                </div>
    
                    <p>
                        FIND THE SOLUTION
    
                        
                    </p><br>
        
                    <p class="story">
                        So I started to search for solutions and find the developer academy. They have showed me a concept on how to get my first coding job.
                    </p>
            </div>
    
            <div class="storyDiv" data-aos="fade-up" data-aos-duration="3000">
                <div class="greenCircle">
                    <img src="assets/img/flight-takeoff-line.png">
                </div>
    
                    <p>
                        READY FOR THE JOB
    
                        
                    </p><br>
        
                    <p class="story">
                        Through project based learning, I gain some experience in web/frontend development and I want to get a new challenge.
                    </p>
            </div>
    
        </div>
    </div>
   
</div>