<div id="aboutMe" class="containerAbout">
    <div class="aboutShort">
        <div class="aboutImg">
            <img src="assets/img/DSC_0043.jpg">
        </div>

        <div class="aboutText">
            <h2>
                About me.
            </h2>
            <p>
                "I’m an freestyle FPV Drone Pilot and front end developer who loves to code and solve problems"
            </p>
        </div>
    </div>

    <div class="border"></div>

    <div class="aboutStory">
        <div>
            <div class="greenCircle">
                <img src="assets/img/walk-line.png">
            </div>

                <p>
                    MY JOURNEY BEGAN

                    
                </p><br>
    
                <p>
                    In the school I get the first contact with coding, and it was fun, but at this time I don't know that Programmer is an Job...
                </p>
        </div>

        <div>
            <div class="greenCircle">
                <img src="assets/img/heart-line.png">
            </div>

                <p>
                    FIND MY PASSION

                    
                </p><br>
    
                <p>
                    Later I start to Code again and I realized that I love to Code and that is fun for me, but my level of coding wasn't high enough for a profession
                </p>
        </div>

        <div>
            <div class="greenCircle">
                <img src="assets/img/search-line.png">
            </div>

                <p>
                    FIND THE SOLUTION

                    
                </p><br>
    
                <p>
                    So I started to search for solutions and find the developer academy. They have showed me a concept on how to get my first coding job.
                </p>
        </div>

        <div>
            <div class="greenCircle">
                <img src="assets/img/flight-takeoff-line.png">
            </div>

                <p>
                    READY FOR THE JOB

                    
                </p><br>
    
                <p>
                    Through project based learning, I gain some experience in web/frontend development and I want to get a new challenge.
                </p>
        </div>

    </div>
</div>