.containerAbout {
    color: white;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;


    .aboutShort {
        display: flex;
        align-items: center;
        margin-top: 76px;


        .aboutImg {
            width: 389px;
            height: 253px;
            display: flex;
            align-items: end;
            justify-content: end;

            img {
                width: 209px;
                height: 209px;
                border-radius: 360px;
            }
        }


        .aboutText {
            width: 486px;
            height: 130px;
            padding-left: 79px;


            h2 {
                font-weight: 700, bold;
                line-height: 40px;
                text-align: center;
            }

            p {
                font-weight: 400;
                line-height: 28px;
                text-align: center;
            }
        }
    }


    .border {
        border: 1px solid #2DFCD8;
        width: 1140px;
        height: 0;
        margin-top: 66px;
        margin-bottom: 129px;
    }


    .aboutStory {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;


            .greenCircle {
                width: 79px;
                height: 79px;
                border-radius: 200px;
                background-color: #2DFCD8;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 22px;
    
    
                img {
                    width: 31px;
                    height: 31px;
                }
            }


            p {
                width: 232px;
                text-align: center;
                margin: 0px 0px 12px;
            }
        }
    }
}



/* -----------------Optimierung für Mobile Endgeräte----------------- */


@media (max-width: 1080px) {

    .containerAbout {
        max-width: 850px;
    }

    .border {
        width: 850px !important;
    }

    .aboutImg {
        width: 309px !important;
    }

    .aboutText {
        width: 411px !important;
    }

    .aboutStory {
        flex-wrap: wrap;
        width: 500px;
        margin-left: 21%;


        p {
            line-height: 28px;
        }
    }

    .storyDiv {
        margin-bottom: 24px;
    }
}

@media (max-width: 850px) {
    
    .containerAbout {
        max-width: 750px;
    }

    .border {
        width: 750px !important;
        margin-left: 4%;
    }

    .aboutImg {
        width: 270px !important;
    }
}
