$easeInOut      : cubic-bezier(0.420, 0.000, 0.580, 1.000);


.containerMyWork {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;



    .headline {
        color: white;
        margin-bottom: 48px;


        p {
            display: flex;
            justify-content: center;
            font-size: 36px;
            font-weight: 500;
            line-height: 40px;
            margin-bottom: 46px;
            height: 40px;
        }

        button {
            width: 128px;
            height: 70px;
            //border:  2px solid #FA2759;
            border:  2px solid #fe003e;
            box-sizing: border-box;
            margin: 3px 3px;
            background-color: black;
            color: white;
            font-weight: 500;
            line-height: 20px;
            transition: all 0.5s ease;


            &:hover {
                //background-color: #FA2759;
                background-color: #fe003e;
                cursor: pointer;
            }
        }

        .black {
            background-color: black;
        }

        .red {
            background-color: #fe003e;
        }
    }


    .work {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        

        .main {
            width: 442px;
            height: 367px;
            margin: 0px 22.5px 45px 22.5px;
            background-color: #fe003e;
            display: flex;
            box-shadow: 0 0 8px 8px black inset;
           

            .javaScript {
                display: flex;
            }

            .angular {
                display: flex;
            }
            
            img {
                width: 442px;
                height: 367px;
                border-radius: 20px;


                &:hover + .shadowBox {
                    visibility: visible;
                    cursor: pointer; 
                }
            }

            .shadowBox {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                background: rgba(245, 245, 245, 0.9);
                margin-left: 0;
                visibility: hidden;
                &:hover {
                    visibility: visible;
                }

                
                .headlineWorkBox {
                    font-weight: 700,bold;
                    font-size: 18px;
                    line-height: 20px;
                    text-align: center;
                    color: #fe003e;
                    margin-bottom: 24px;
                }

                p {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                    text-align: end;
                    color: black;
                    margin-top: 0;
                    margin-bottom: 34px;
                }

                h3 {
                    color: #fe003e;
                    margin-top: 0;
                }

                .Link {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 230px;

                    .gitImg {
                        width: 43px;
                        height: 43px;
                        background-color: rgba(0,0,0,0.2);
                        border-radius: 360px;


                        &:hover {
                            background-color: rgba(0,0,0,0);
                            cursor: pointer;
                        }
                    }
                }    

                .gameLink {
                    width: 128px;
                    height: 60px;
                    border: 1px solid #fe003e;
                    color: #fe003e;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;


                    &:hover {
                        background-color: #fe003e;
                        color: white;
                        transition: all 0.2s ease;
                    }
                }
            }
        }
    }
}



/* -----------------Optimierung für Mobile Endgeräte----------------- */


@media (max-width: 1080px) {

    .containerMyWork {
        max-width: 850px;
    }

    .main {
        width: 302px !important;
        height: 227px !important;


        img {
            width: 302px !important;
            height: 227px !important;
        }
    }
}