<div class="containerMyWork">
    <div class="placeholder" id="portfolio"></div>
    <div class="headline">
        <p data-aos="zoom-in-right">My Work</p>
        <div data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine">
            <button (click)="all()" id="all" [ngClass]="{'black' : allBTN, 'red': !allBTN}">All</button>  <!-- klasse black wird genommen -> allBTN true klasse red -> allBTN false -->
            <button (click)="angular()" id="angular" [ngClass]="{'black' : angularBTN, 'red': !angularBTN}">Angular</button>
            <button (click)="java()" id="java" [ngClass]="{'black' : javaBTN, 'red': !javaBTN}">JavaScript</button>
        </div>
    </div>

    <div class="work">
        <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100" class="javaScript main" *ngIf="javaScriptHide">
            <img src="assets/img/pkedex2.jpg">

            <div class="shadowBox main">
                <h2>Pokedex</h2><br>
                <p>A Pokemondeck based on rest API.</p>
                <p class="headlineWorkBox">Technologies:</p>
                <p>JavaScript, Rest API, HTML/CSS</p>
                <div class="Link">
                    <a class="gameLink" (click)="openLink('http://www.leondittrich.com/Pokedex/')">Try out</a>
                    <a (click)="openLink('https://github.com/LeonDittrich/Pokedex')"><img class="gitImg" src="assets/img/github-fill.png"></a>
                </div>
            </div>
            
        </div>

        <div data-aos="fade-up"  data-aos-duration="1000" data-aos-delay="400" class="angular main" *ngIf="angularHide">
            <img src="assets/img/ringOfFire.jpg">

             <div class="shadowBox main">
                <h2>Ring of Fire</h2><br>
                <p>Multiplayer online drinking game.</p>
                <p class="headlineWorkBox">Technologies:</p>
                <p>Angular, Firebase, TS/SCSS</p>
                <div class="Link">
                    <a class="gameLink" (click)="openLink('https://ringoffireld.web.app/')">Try out</a>
                    <a (click)="openLink('https://github.com/LeonDittrich/RingOfFire')"><img class="gitImg" src="assets/img/github-fill.png"></a>
                </div>
            </div>
        </div>

        <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700" class="javaScript main" *ngIf="javaScriptHide">
            <img src="assets/img/Scrum.jpg">

             <div class="shadowBox main">
                <h2>Join</h2><br>
                <p>Kanban tool that we made in the team.</p>
                <p class="headlineWorkBox">Technologies:</p>
                <p>JavaScript, HTML/CSS</p>
                <div class="Link">
                    <a class="gameLink" (click)="openLink('http://www.gruppe-161.developerakademie.net/index.html')">Try out</a>
                    <a (click)="openLink('https://github.com/MatthaeusL/Kanban-Gruppenarbeit--161')"><img class="gitImg" src="assets/img/github-fill.png"></a>
                </div>
            </div>
        </div>

        <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000" class="javaScript main" *ngIf="javaScriptHide">
            <img src="assets/img/Opción 1.png">

             <div class="shadowBox main">
                <h2>El Pollo Loco</h2><br>
                <p>Object oriented jump and run game.</p>
                <p class="headlineWorkBox">Technologies:</p>
                <p>JavaScript, HTML/CSS</p>
                <div class="Link">
                    <a class="gameLink" (click)="openLink('http://www.leondittrich.com/ElPolloLoco/')">Try out</a>
                    <a (click)="openLink('https://github.com/LeonDittrich/El-Pollo-Loco')"><img class="gitImg" src="assets/img/github-fill.png"></a>
                </div>
            </div>
        </div>

    </div>
</div>