<div id="portfolio" class="containerMyWork">
    <div class="headline">
        <p>My work</p>
        <button (click)="all()" id="all" [ngClass]="{'black' : allBTN, 'red': !allBTN}">All</button>  <!-- klasse black wird genommen -> allBTN true klasse red -> allBTN false -->
        <button (click)="angular()" id="angular" [ngClass]="{'black' : angularBTN, 'red': !angularBTN}">Angular</button>
        <button (click)="java()" id="java" [ngClass]="{'black' : javaBTN, 'red': !javaBTN}">Java Script</button>
    </div>

    <div class="work">
        <div class="javaScript main" *ngIf="javaScriptHide">
            <img src="assets/img/pkedex2.jpg">

            <div class="shadowBox main">
                <p class="headlineWorkBox">Pokedex</p><br>
                <p>JavaScript -based with rest APIs.</p>
                <a class="gameLink" href="#">Try out</a>
            </div>
            
        </div>

        <div class="angular main" *ngIf="angularHide">
            <img src="assets/img/pokedex.jpg">

             <div class="shadowBox main">
                <h3>Ring of Fire</h3><br>
                <p>Multiplayer online drinking game.</p>
                <p class="headlineWorkBox">Technologies:</p>
                <p>Angular, Firebase, TS/SCSS</p>
                <div class="Link">
                    <a class="gameLink" routerLink="/pokedex">Try out</a>
                    <a (click)="openLink('https://github.com/LeonDittrich/RingOfFire')"><img class="gitImg" src="assets/img/github-fill.png"></a>
                </div>
            </div>
        </div>

        <div class="javaScript main" *ngIf="javaScriptHide">
            <img src="assets/img/Scrum.jpg">

             <div class="shadowBox main">
                <h3>Join</h3><br>
                <p>Kanban tool that we made in the team.</p>
                <p class="headlineWorkBox">Technologies:</p>
                <p>JavaScript, HTML/CSS</p>
                <div class="Link">
                    <a class="gameLink" href="#">Try out</a>
                    <a (click)="openLink('https://github.com/MatthaeusL/Kanban-Gruppenarbeit--161')"><img class="gitImg" src="assets/img/github-fill.png"></a>
                </div>
            </div>
        </div>

        <div class="javaScript main" *ngIf="javaScriptHide">
            <img src="assets/img/Opción 1.png">

             <div class="shadowBox main">
                <p class="headlineWorkBox">El Pollo Loco</p><br>
                <p>JavaScript -based jump and run game.</p>
                <a class="gameLink" href="#">Try out</a>
            </div>
        </div>

    </div>
</div>