<div class="containerContact">
    <div class="placeholder" id="contact"></div>
    <div>
        <h1 data-aos="zoom-in" data-aos-anchor-placement="top-center" data-aos-easing="ease-in">
            Contact me.
        </h1>

        <p data-aos="flip-left" data-aos-anchor-placement="top-center" data-aos-duration="2000" class="headline">
            Get in touch via the form below, or by emailing <a href="mailto:leon_dittrich@web.de">leon_dittrich@web.de</a>
        </p>
       
    </div>

    <form #form data-aos="flip-up" data-aos-anchor-placement="top-center" data-aos-duration="2000" action="https://leondittrich.com/send_mail.php" method="POST">
        <div>
            <p class="headlineInput">
                Name
            </p>

            <input type="text" name="name" placeholder="Please enter your name">
        </div>

        <div>
            <p class="headlineInput">
                Email address
            </p>

            <input type="email" name="email" placeholder="Please enter your Email address">
        </div>

        <div>
            <p class="headlineInput">
                Message
            </p>

            <textarea class="message" type="text" name="message" placeholder="Please enter your Message"></textarea>
        </div>
    </form>

    <div data-aos="fade-up-left" data-aos-anchor-placement="center-bottom" data-aos-delay="800" data-aos-duration="1000" class="button">
        <button (click)="form.submit();" class="custom-btn btn" type="submit">
            Send
        </button>
    </div>
</div>