.containerContact {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    width: 613px;
    height: 683px;
    margin-top: 329px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    .placeholder {
        height: 77px;
    }

    h1 {
        color: #2EFCD8;
        line-height: 90px;
        font-weight: 700;
        margin: 0;
    }

    .headline {
        color: white;
        font-weight: 500;
        font-size: 18px;
        line-height: 44px;
        margin-top: 0;
        margin-bottom: 51px;


        a {
            color: #2DFCD8;
            text-decoration: none;
        }
    }

    .headlineInput {
        color: white;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }

    input {
        background-color: #1A1A1A;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        color: #989898;
        border: 0;
        width: 612px;
        height: 39px;


        ::placeholder {
            vertical-align: bottom;
        }
    }

    textarea {
        background-color: #1A1A1A;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        color: #989898;
        border: 0;
        width: 612px;
        height: 179px;
        resize: none;
    }

    .button {
        display: flex;
        justify-content: flex-end;
        width: 616px;
    }

    .custom-btn {
        width: 157px;
        height: 60px;
        border: 2px solid #2EFCD8;
        font-weight: 400, bold;
        background-color: black;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        color: #2EFCD8;
        font-size: 18px;
        line-height: 14px;
        margin-top: 24px;
    }

    .btn {
        z-index: 2;
        transition: all 0.3s ease;
        overflow: hidden;
    }

    .btn:after {
        position: absolute;
        content: " ";
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
    }

    .btn:hover {
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                    -4px -4px 6px 0 rgb(46, 252, 218, .2), 
          inset -4px -4px 6px 0 rgba(255,255,255,.5),
          inset 4px 4px 6px 0 rgba(46, 252, 218, .2);
        color: white;
    }

    .btn:hover:after {
        -webkit-transform: scale(2) rotate(180deg);
        transform: scale(2) rotate(180deg);
        background: #2DFCD8;
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                    -4px -4px 6px 0 rgba(46, 252, 218, .2), 
          inset -4px -4px 6px 0 rgba(255,255,255,.5),
          inset 4px 4px 6px 0 rgba(46, 252, 218, .2);
    }
      
}



/* -----------------Optimierung für Mobile Endgeräte----------------- */


@media (max-width: 700px) {
    .containerContact {
        max-width: 400px;
        margin-top: 0px;
        padding-left: 16px;
        overflow-x: hidden;
        overflow-y: hidden;


        h1 {
            line-height: 30px;
        }

        .headline {
            width: 343px;
            font-size: 16px;
            line-height: 30px;
            margin-top: 5px;
        }

        input {
            width: 343px;
        }
    
        textarea {
            width: 343px;
        }
    
        .button {
            width: 330px;
            overflow-x: hidden;
        }
    }
}        


@media (max-width: 1079px) and (min-width: 701px) {
  

    .containerContact {
        max-width: 750px;
        overflow-x: hidden;
        overflow-y: hidden;


        .button {
            width: 613px;
            height: 135px;
            overflow-x: hidden;
            overflow-y: hidden;
        }
    }
}


@media (max-width: 1080px) {

    .containerAbout {
        max-width: 850px !important;
    }
}