.containerSkills {
    display: flex;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    flex-direction: column;
    align-items: center;



    .placeholder {
        height: 20px;
    }
    
    .headline {
        color: white;
        font-weight: 500;
        font-size: 36px;
        line-height: 90px;
        margin-bottom: 60px;
    }

    .skills {
       display: flex;
       flex-wrap: wrap;
       width: 637px; 


        .skillContainer {
            background-color: white;
            border-radius: 10px;
            width: 182px;
            height: 119px;
            //height: 90px;
            //width: 150px;
            margin: 15px 15px 70px 15px;
        }


        .skillImgContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1px;


            .skillImg {
                height: 60px;
                width: 60px;
                background-color: white;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 2;
                box-shadow: 0 5px 10px 5px #00000026 !important;


                img {
                    width: 30px;
                    height: 30px;
                    background-color: white;
                }

                #testAutomation {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    
        .skillCard {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 119px;


            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }   
}



/* -----------------Optimierung für Mobile Endgeräte----------------- */


@media (max-width: 700px) {

    .containerSkills {
        max-width: 400px;
        margin-top: 61px;
        overflow-x: hidden;
        overflow-y: hidden;


        .headline {
            margin: 45px;
            overflow-x: hidden;
            overflow-y: hidden;
    
            p {
                line-height: 40px;
                margin: 0;
            }
        }
    
        .skills {
            width: 400px;
            justify-content: center;


            .skillContainer {
                width: 108px;
                height: 71px;
                border-radius: 6px;
                margin-left: 5px;
                margin-right: 5px;
                margin-bottom: 40px;
                margin-top: 0px;
            }

            .skillImgContainer {

                .skillImg {
                    width: 35px;
                    height: 35px;
            
            
                    img {
                        width: 18px;
                        height: 18px;
                    }

                    #testAutomation {
                        width: 25px;
                        height: 25px;
                        border-radius: 20px;
                    }
                }
            }

            .skillCard {
                height: 70.5px;
                text-align: center;
        
        
                p {
                    font-size: 16px;
                    line-height: 18px;
                }
            }
        }
    }   
}


@media (max-width: 1080px) {

    .containerSkills {
        max-width: 850px;
    }
}
