<div class="containerSkills">
    <div class="headline">
        <p>MY Skills</p>
    </div>

    <div class="skills">
        <div class="skillContainer">
            <div class="skillImgContainer">
                <div class="skillImg">
                    <img src="assets/img/java script.png">
                </div>
            </div>
            <div class="skillCard">
                <p>Java script</p>
            </div>
        </div>
        
        <div class="skillContainer">
            <div class="skillImgContainer">
                <div class="skillImg">
                    <img src="assets/img/angular1.png">
                </div>
            </div>
            <div class="skillCard">
                <p>Angular</p>
            </div>
        </div>

        <div class="skillContainer">
            <div class="skillImgContainer">
                <div class="skillImg">
                    <img src="assets/img/Group 205.png">
                </div>
            </div>
            <div class="skillCard">
                <p>HTML/CSS</p>
            </div>
        </div>

        <div class="skillContainer">
            <div class="skillImgContainer">
                <div class="skillImg">
                    <img src="assets/img/Group 226.png">
                </div>
            </div>
            <div class="skillCard">
                <p>Scrum</p>
            </div>
        </div>

        <div class="skillContainer">
            <div class="skillImgContainer">
                <div class="skillImg">
                    <img src="assets/img/Git-Icon-1788C 2.png">
                </div>
            </div>
            <div class="skillCard">
                <p>Git</p>
            </div>
        </div>

        <div class="skillContainer">
            <div class="skillImgContainer">
                <div class="skillImg">
                    <img src="assets/img/Group 20.png">
                </div>
            </div>
            <div class="skillCard">
                <p>Design Thinking</p>
            </div>
        </div>

        <div class="skillContainer">
            <div class="skillImgContainer">
                <div class="skillImg">
                    <img src="assets/img/icons8-rest-api-80 2.png">
                </div>
            </div>
            <div class="skillCard">
                <p>Rest API</p>
            </div>
        </div>

        <div class="skillContainer">
            <div class="skillImgContainer">
                <div class="skillImg">
                    <img src="assets/img/icons8-database-52 2.png">
                </div>
            </div>
            <div class="skillCard">
                <p>Databases</p>
            </div>
        </div>

    </div>
</div>