<header id="home">
  <mat-sidenav-container class="sticky" (backdropClick)="close()">
    <mat-sidenav (click)="close()" #sidenav class="navbarMobile" mode="over" [(opened)]="opened" position="end" [autoFocus]="false">
        <h1>Menu</h1>
        <div class="menuList">
          <a (click)="close()" class="underline" href="#home">HOME</a>
          <a (click)="close()" class="underline" href="#aboutMe">ABOUT</a>
          <a (click)="close()" class="underline" href="#portfolio">PROJECTS</a>
          <a (click)="close()" class="underline" href="#contact">CONTACT</a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="containerHeader">
      <div class="logo">
        <a href="#home"><img src="assets/img/Logo Square.PNG"></a>
      </div>
      <div class="navbar">
        <a class="underline" href="#home">HOME</a>
        <a class="underline" href="#aboutMe">ABOUT</a>
        <a class="underline" href="#portfolio">PROJECTS</a>
    </div>  
    <div class="menu">
      <img (click)="opened=!opened" src="assets/img/menu.png">
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</header>
