<header id="home">
    <div class="sticky">
        <div class="containerHeader">
            <div class="logo">
                <a href="#home"><img src="assets/img/Logo Square.PNG"></a>
            </div>
            <div class="navbar">
                <a class="underline" routerLink="/" href="#home">Home</a>
                <a class="underline" href="#aboutMe">About Me</a>
                <a class="underline" href="#portfolio">Portfolio</a>
            </div>
        </div>
    </div>
</header>
