.impressum {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: white;


    h1 {
        display: flex;
        justify-content: center;
    }
}