<div  class="containerHome">
    <div class="padding">
        <div class="greetingText">
            <p>Hi,<br>
                I’m <span class="spanColor1">Leon</span> Dittrich<br>  
                Front End Devolop<span class="spanColor2">e</span>r
            </p>
        </div>
    
        <div>
            <img src="assets/img/DSC_0043.jpg">
        </div>
    </div>

    <div class="button">
        <a href="#contact">
            Contact me
        </a>
    </div>

    <div (click)="arrowToSkills()" class="arrowContainer">
        <div class="arrow arrow-first"></div>
        <div class="arrow arrow-second"></div>
    </div>
</div>

<app-skills></app-skills>
<app-my-work></app-my-work>
<app-about></app-about>
<app-contact></app-contact>