body[data-aos-delay='custom'] [data-aos],
[data-aos][data-aos][data-aos-delay='custom']{
  transition-delay: 5s;
  
  &.aos-animate {
      transition-delay: 5s;

      @media (min-width: 1025px) {
        transition-delay: 5s;
      }
  }
}

.containerHome {
    color: white;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;


    .spanColor1 {
        color: #ff003e;
    }

    .spanColor2 {
        color: #2dfcd8;
    }

    .greetingText p{
        position: relative;
        overflow: hidden;
        display: block;
        font-weight: 700;
        font-size: 64px;
        line-height: 90px;
        font-style: normal;
    }

    .greetingText p::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
        transform: translateX(-101%);
    }
    
    .greetingText p::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
        transform: translateX(0);
    }
    
    .greetingText p:nth-of-type(1)::before,
    .greetingText p:nth-of-type(1)::after{
        animation-delay: 1s;
    }
    
    .greetingText p:nth-of-type(2)::before,
    .greetingText p:nth-of-type(2)::after{
        animation-delay: 1.5s;
    }
    
    @keyframes a-ltr-after{
        0% {transform: translateX(-100%)}
        100% {transform: translateX(101%)}
    }
    
    @keyframes a-ltr-before{
        0% {transform: translateX(0)}
        100% {transform: translateX(200%)}
    }

    .padding {
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;


        .imgContainer {
            display: flex;
            align-items: flex-end;
        }

        img {
            border-radius: 400px;
            width: 363px;
            height: 363px;
        }
    }

    .button {
        margin-left: 15px;


        a{
            color: #2dfcd8;
            border: 2px solid #2dfcd8;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 18px;
            line-height: 14px;
            transition: all .3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            width: 300px;
            height: 78px;
            text-align: center;
            text-decoration: none;
            display: table-cell;
            vertical-align: middle;
            border-radius: 10px;
            
    
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                z-index: -2;
            }
    
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background-color: darken(#2dfcd8, 15%);
                transition: all .3s;
                z-index: -1;
            }
    
            &:hover {
                color: #fff;
                &:before {
                  width: 100%;
                }
            }
        }
    }

   
}

.arrowContainerClick {
    position: absolute;
    width: 69px;
    height: 101px;
    left: 49%;
    top: 84%;
    cursor: pointer;
    z-index: 2;
}

.arrowContainer {
   display: flex;
   height: 90px;
}

$ani-speed: 2s;
$ani-delay: 1s;

.arrow {
    opacity: 0;
    position: absolute;
        left: 50%;
        top: 90%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
        top: 0;
        left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

// Animation
@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 85%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}


/* Für das Flippen von dem Text */
.mainheading {
    transform: rotateX(-90deg);
    transition: transform 800ms ease-in-out 800ms;
  
    @media (max-width: 700px) {
      font-size: 2.5rem;
    }
}

.flip-text1 {
    transform-origin: 50% 100% !important;
    perspective-origin: center;
    transform: perspective(1000px) rotateX(90deg) !important;
}
.flip-text2 {
    transform-origin: 50% 0;
    perspective-origin: center;
    transform: perspective(1000px) rotateX(0);
}

.flip-container {
    transition: transform 800ms ease-in-out;
    position: relative;
    perspective: 10px;
}

p {
    margin: 0;
}

.greetingText {
    height: 440px;
}

.subtitle {
    display: flex;
}


/* Zum verstecken von dem ? */
.hide {
    animation: fadeOut 3s ease-out 3s;
    animation-fill-mode: forwards;
};


@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.25;
    }
    100% {
      opacity: 0;
    }
}    



/* -----------------Optimierung für Mobile Endgeräte----------------- */


@media (max-width: 700px) {
    .containerHome {
        max-width: 400px;
        overflow-x: hidden;


        .imgContainer {
            overflow-x: hidden;


            img {
                width: 200px;
                height: 200px;
            }
        }
        
        .padding {
            flex-direction: column-reverse;
            align-items: center;
            margin-top: 58px;
        }
    
        .greetingText {
            margin-bottom: 32px;
            height: 200px;
        }
    
        .greetingText p {
            font-size: 32px;
            line-height: 45px;
        }
    
        .button {
            margin-left: 45px;
            overflow-x: hidden;
        }
    
        .arrowContainer {
            display: none;
        }
    }
}


@media (max-width: 1079px) and (min-width: 701px) {
  

    .containerHome {
        max-width: 750px;


        .imgContainer {

            img {
                width: 335px;
                height: 335px;
            }
        }

        .padding {
            flex-direction: column-reverse;
            align-items: center;
            margin-top: 50px;
        }

        .greetingText {
            height: 400px;


            p {
                font-size: 48px;
            }
        }

        .button {
            margin-left: 29%;
            overflow-x: hidden;
        }

        .arrowContainer {
            display: none;
        }
    }
}


@media (min-width: 1080px) {

    .containerHome {
        max-width: 850px;


        .imgContainer {
            margin-top: 58px;
        }
    
        .greetingText {
            height: 365px;
            width: 470px;
            margin-bottom: 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        .greetingText p {
            font-size: 42px;
            line-height: 55px;
        }
    
        .arrowContainer {
            margin-top: 28vh;
        }
    }
}

