.containerHome {
    color: white;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 51px;


    .padding {
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;


        .greetingText {
            width: 715px;
            height: 278px;


            p {
                font-weight: 700;
                font-size: 64px;
                line-height: 90px;
                font-style: normal;
                margin: 0;
            }

            .spanColor1 {
                color: #ff003e;
                //color: #0059ff;
                //color: #c100ff;
            }
                
            .spanColor2 {
                color: #00dcff;
                //color: #fa2759;
            }
        }


        img {
            border-radius: 400px;
            width: 363px;
            height: 363px;
        }
    }


    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 78px;
        background-color: black;
        color: #2dfcd8;
        border: 2px solid #2dfcd8;
        font-weight: 400;
        font-size: 18px;
        line-height: 14px;
        margin-left: 15px;
        text-decoration: none;

        &:hover {
            color: white;
            background-color: #2dfcd8;
            cursor: pointer;
        }
    }
}

.arrowContainer {
   display: flex;
   height: 74px;
   width: 78px;
   padding-left: 48%;
   margin-top: 14%;
   cursor: pointer;
}

$ani-speed: 2s;
$ani-delay: 1s;

.arrow {
    opacity: 0;
    position: absolute;
        left: 50%;
        top: 90%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
        top: 0;
        left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

// Animation
@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 85%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}